/* .noWidth {
  width: 1px;
}

tr td:nth-child(n+7) {
  text-align: right;
}

tr {
  text-align: center;
  border-spacing: 1px;
  border-width: 2px;
  border-color: white;
}

.nameImage {
  padding-left: 30%;
}

.barImage {
  padding-left: 15%;
} */


td {
  border: 3px solid white;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
.barImage{
  width: 0%; 
}
.ellipse{
  margin-left: 20%;
}