.container {
  display: flex;
  justify-content: center;
}

.table {
  margin-top: 5%;
  text-decoration: none;
  border: 2px solid white;
}

.tableBody {
  
  background-color: #F6F6F6;
  border-top: none !important;
}